// bower:js
// endbower

//- app js
script(src='js/app.js')

//- Controllers
script(src='js/controllers/nav_controller.js')
script(src='js/controllers/login_controller.js')
script(src='js/controllers/logout_controller.js')
script(src='js/controllers/main_controller.js')
script(src='js/controllers/meeting_controller.js')

//- Directive
script(src='js/directives/selectable.js')

//- services
script(src='js/services/meeting.js')
script(src='js/services/attendee.js')
script(src='js/services/email.js')
