// bower:js
// endbower
// app js
script(src='js/app.js')
script(src='js/controllers/nav_controller.js')
script(src='js/controllers/main_controller.js')
script(src='js/controllers/mentor_controller.js')
script(src='js/services/mentor.js')
