div(ng-controller="NavController")

  //-ul.nav.nav-sidebar
    //-.nav-title Navigation
    //-li(ng-class="isActive('/')")
      //-a(href="#/") Dashboard
    //-li
      //-a(href="#/") Programs
    //-li(ng-class="isActive('/add-mentor')")
      //-a(href="#/add-mentor") Mentors
    //-li
      //-a(href="#/") Mentees

  div.sidebar-container.sidebar-topper
    a(href="/")
      h1 tandem
  div.sidebar-container.sidebar-user
    a(href="#" data-toggle="dropdown" aria=haspopup="true" aria-expanded="false").dropdown-toggle
      h5 worldsbestfacilitator@gmail.com
      i.fa.fa-chevron-down
    div.dropdown-menu
      a(href="/logout") Logout
  div.sidebar-container.sidebar-links
    ul.nav.nav-sidebar
      .nav-title Current Program
      li
        a(href="/") Getting Started
      li
        a(href="/schedule-rooms") Room Availability
      li
        a(href="/") Mentor Availability
      li
        a(href="/") Mentee Availability
      li
        a(href="/") Submit Availability
