/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #e6e6e6;
  border-right: 1px solid #cccccc;

  // Hide on mobile
  @media (max-width: 767px) {
    display: none;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 12px;
  .nav-title{
    padding: 10px 20px;
    text-transform:uppercase;
    color: #888888;
  }
  > li > a {
    padding-right: 25px;
    padding-left: 30px;
    color: #333333;
  }
  > li > a:hover,
  > li > a:focus{
    background-color: lighten(#d3d3d3, 4%);
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    background-color: #d3d3d3;
  }
}
