#success {
  margin-top: 10%;
  padding: 50px 100px;
  background-color: $gray-lighter;
  border-radius: $border-radius-large;
}

#success-content {
  display: table;
  margin: 0 auto;
  text-align: center;
}

#success-icon {
  height: 10em;
  width: 100%;
  line-height: 10em;

  .icon-check {
    font-size: 4em;
    color: $brand-success;
    z-index: 1;
    left: 5px;
    top: 30px;
  }

  .icon-envelope-o {
    font-size: 10em;
  }
}

#success-social {
  margin-top: 30px;
  border-top: 1px solid $gray-light;

  a {
    text-decoration: none;
    color: $gray;
  }

  i {
    padding-right: $padding-base-horizontal;
  }
}

.icon.icon-social {
  transition: all .3s;
  &:hover {
    color: $gray-dark;
  }

}
