<article class="container">
  <h1  id="title">{{title}}</h1>
  <form class="form-horizontal" ng-submit="addMentor()">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Mentor Name</label>
      <div class="col-sm-10">
        <input ng-model="newMentor.name" type="text" class="form-control" id="mentor-name" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Email Address</label>
      <div class="col-sm-10">
        <input ng-model="newMentor.email" type="email" class="form-control" id="mentor-email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Expertise</label>
      <div class="col-sm-10">
        <textarea ng-model="newMentor.expertise" class="form-control" id="mentor-description" placeholder="What this mentor can help with..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add Mentor</button>
      </div>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">Current Mentors</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Expertise</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mentor in mentors">
          <td>{{mentor.name}}</td>
          <td>{{mentor.email}}</td>
          <td>{{mentor.expertise}}</td>
        </tr>
        </tr>
      </tbody>
    </table>
  </div>
</article>
