article
  h1#title {{title}}
  form.form-horizontal(ng-submit='addMentor()')
    .form-group
      label.col-sm-2.control-label(for='inputEmail3') Mentor Name
      .col-sm-10
        input#mentor-name.form-control(ng-model='newMentor.name', type='text', placeholder='Name')
    .form-group
      label.col-sm-2.control-label(for='inputEmail3') Email Address
      .col-sm-10
        input#mentor-email.form-control(ng-model='newMentor.email', type='email', placeholder='Email')
    .form-group
      label.col-sm-2.control-label(for='inputPassword3') Expertise
      .col-sm-10
        textarea#mentor-description.form-control(ng-model='newMentor.expertise', placeholder='What this mentor can help with...')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Add Mentor
  .panel.panel-default
    .panel-heading Current Mentors
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Expertise
          th Actions
      tbody
        tr(ng-repeat='mentor in mentors')
          td {{mentor.name}}
          td {{mentor.email}}
          td {{mentor.expertise}}
          td
            button.btn.btn-primary(data-toggle="modal", data-target="#editMentor", ng-click="setCurrentMentor($index)") edit

  #editMentor.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title Edit Mentor {{currentMentor.name}}
        .modal-body
          form.form-horizontal(ng-submit='addMentor()')
            .form-group
              label.col-sm-2.control-label(for='inputEmail3') Mentor Name
              .col-sm-10
                input#mentor-name.form-control(ng-model='currentMentor.name', type='text', placeholder='Name')
            .form-group
              label.col-sm-2.control-label(for='inputEmail3') Email Address
              .col-sm-10
                input#mentor-email.form-control(ng-model='currentMentor.email', type='email', placeholder='Email')
            .form-group
              label.col-sm-2.control-label(for='inputPassword3') Expertise
              .col-sm-10
                textarea#mentor-description.form-control(ng-model='currentMentor.expertise', placeholder='What this mentor can help with...')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button', ng-click='saveMentor()') Save Mentor
