div.col-lg-8.col-lg-offset-2.action-page
  div.action-page--content
    span#login-logo
      img(src="/images/betandem-logo-square.png" alt="Tandem Scheduler")
    h5#login-blurb We need your calendar to schedule you
      a.infotip(title="We only use your busy/not-busy schedule and don't store any of your data.")
        i(title="").icon.icon-question-circle
    button(ng-click="authenticate('google')").btn.btn-lg.btn-primary Authorize
    div.action-page--foot
      h5 Don't use Google Calendar?
      a(href="http://www.betandem.com") Get notified when we add support for Outlook
