<div class="login-form-wrapper">
  <div class="login-form">
    <h1>Tandem</h1>
    <form  ng-submit=sendCredentials()>
      <div class="form-group">
        <div class="input-group">
          <input ng-model="cred.email" type="text" class="form-control" id="input-email" placeholder="email">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input ng-model="cred.password" type="password" class="form-control" id="input-password" placeholder="password">
        </div>
      </div>
      <button type="submit" class="btn btn-large btn-primary pull-right">Submit <i class="fa fa-check"></i></button>
    </form>
  </div>
</div>
