div.meeting
  div.col-lg-12.details
    h2 The details
    form.col-lg-8
      div.form-inline.row
        div.form-group.col-lg-6
          input#what.form-control(ng-model="meeting.details.what" placeholder="What")
        div.form-group
          input#location.form-control(ng-model="meeting.details.location" placeholder="Where")
        div.form-group
          select#duration.form-control(ng-model="meeting.details.duration" required)
             option(value="" disabled selected hidden) How long
             option(value="30") 30 minutes
             option(value="60") 1 hour
             option(value="90") 1.5 hours
             option(value="120") 2 hours
             option(value="150") 2.5 hours
             option(value="180") 3 hours
      div.form-group
          textarea#why.form-control(ng-model="meeting.details.why" placeholder="Why")
  div.col-lg-12.attendees
    h2 Who's coming
      span.instructions Enter your guest's emails and we'll grab their availability
    form.form-inline
      div.form-group.col-lg-5
        input#email.form-control(ng-model="newEmail" placeholder="Email")
      div.form-group
        button.icon(ng-click="addAttendee()" type="submit")
          i.icon.icon-2x.icon-check-circle.success
    div.col-lg-12(ng-repeat="attendee in meeting.attendees")
      //-td {{attendee.name}}
      div.col-lg-3.col-lg-offset-1 {{attendee.email}}
      div.col-lg-1
        button.icon(ng-click="deleteAttendee($index)")
          i.icon.icon-times-circle.warn
  div.col-lg-12.when
    h2 When is it
      span.instructions Here are the chunks of time that work for everyone. Choose one, or a few and Tandem will do the rest
    div.calendar.col-lg-12
      div.day(id="{{day.day_code}}" ng-repeat="day in meeting.schedule")
        span {{day.day_code}}
        div.times
          div.morning(selectable id="{{day.day_code}}.morning" class="{{day.morning ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-sunrise
          div.afternoon(selectable id="{{day.day_code}}.afternoon" class="{{day.afternoon ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-sun
          div.evening(selectable id="{{day.day_code}}.evening" class="{{day.evening ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-moon
      div.chunks
        div
          span Morning
          span 8-12
        div
          span Afternoon
          span 12-5
        div
          span Evening
          span 5-8
