div.meeting
  div.col-lg-12.details
    h2 The details
    form.col-lg-8
      div.form-inline.row
        div.form-group.col-lg-6
          input#what.form-control(ng-model="meeting.details.what" placeholder="What")
        div.form-group
          input#location.form-control(ng-model="meeting.details.location" placeholder="Where")
        div.form-group
          select#duration.form-control(ng-model="meeting.details.duration" required)
             option(value="" disabled selected hidden) How long
             option(value="15") 15 minutes
             option(value="30") 30 minutes
             option(value="60") 60 minutes
  div.col-lg-12.attendees
    h2 Who's coming
      span.instructions Enter your guest's emails and we'll grab their availability
    form.form-inline
      div.form-group.col-lg-5
        input#email.form-control(ng-model="newEmail" placeholder="Email")
      div.form-group
        button.icon(ng-click="addAttendee()" type="submit")
          i.icon.icon-plus.icon--primary.success

    div.col-lg-6.attendee-list
      div(ng-if="!meeting.attendees.length")
        span Enter emails above to invite your attendees
      div(ng-repeat="attendee in meeting.attendees")
        div(ng-if="attendee.isTandemUser").attendee-list__attendee.attendee-list__attendee--registered
          span {{attendee.name}}
          span {{attendee.email}}
          button.icon(ng-click="deleteAttendee($index)")
            i.icon.icon-times-circle.warn
        div(ng-if="!attendee.isTandemUser").attendee-list__attendee.attendee-list__attendee--unregistered
          i(title="").icon.icon-exclamation-triangle
          span {{attendee.email}} is not in Tandem.&nbsp;
            a(href="mailto:{{attendee.email}}?subject=Join Tandem&body=https://beta.betandem.com/").invite Invite?
          button.icon(ng-click="deleteAttendee($index)")
            i.icon.icon-times-circle.warn

  div.col-lg-12.when
    h2 When is it
      span.instructions These are the chunks of time that work for everyone. Choose one, or a few and Tandem will do the rest
    div.calendar.col-lg-12
      div.day(id="{{day.day_code}}" ng-repeat="day in meeting.schedule")
        span {{day.day_code}}
        div.times
          div.morning(selectable id="{{day.day_code}}.morning" class="{{day.morning ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-sunrise
          div.afternoon(selectable id="{{day.day_code}}.afternoon" class="{{day.afternoon ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-sun
          div.evening(selectable id="{{day.day_code}}.evening" class="{{day.evening ? 'available' : 'unavailable'}}")
            i.icon.icon-4x.icon-moon
      div.chunks
        div
          span Morning
          span 8-12
        div
          span Afternoon
          span 12-5
        div
          span Evening
          span 5-8
  div#submit.col-lg-2.col-lg-offset-10
    button.btn.btn-lg.btn-primary(ng-click="submitMeeting()") Schedule it
