article
  h1#title {{title}}
  .panel.panel-default
    .panel-heading Current Room Calendars
    table.table.table-hover
      thead
        tr
          th Name
          th Calendar link
          th Delete
      tbody
        tr(ng-repeat='room in rooms')
          td {{room.name}}
          td {{room.calendarUrl}}
          td
            button.btn.btn-danger(data-toggle="modal", data-target="#deleteRoom", ng-click="deleteRoom($index)") delete

  form.form-horizontal(ng-submit='addRoom()')
    .form-group
      label.col-sm-2.control-label(for='inputName') Room Name
      .col-sm-10
        input#room-name.form-control(ng-model='newRoom.name', type='text', placeholder='Name')
    .form-group
      label.col-sm-2.control-label(for='inputUrl') Room Calendar Url
      .col-sm-10
        input#room-calendar.form-control(ng-model='newRoom.calendarUrl', type='text', placeholder='Url')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default(type='submit') Add Room

