div.col-lg-8.col-lg-offset-2.action-page
  div.action-page--content
    span#success-icon.icon-stack
      i.icon.icon-check
      i.icon.icon-envelope-o
    h2 Meeting Scheduled!
    h5 We'll send out the invites right away
    div#success-social.action-page--foot
      h5 Love Tandem? Spread the news!
      a(href="#" analytics-on="click" analytics-event="Share via Facebook"): i.icon.icon-2x.icon-facebook.icon-social
      a(href="#" analytics-on="click" analytics-event="Share via Twitter"): i.icon.icon-2x.icon-twitter.icon-social
