div#success.col-lg-8.col-lg-offset-2
  div#success-content
    span#success-icon.icon-stack
      i.icon.icon-check
      i.icon.icon-envelope-o
    h2 Meeting Scheduled!
    h5 We'll send out the invites right away
    div#success-social
      h5 Love Tandem? Spread the news!
      a(href="#"): i.icon.icon-2x.icon-facebook.icon-social
      a(href="#"): i.icon.icon-2x.icon-twitter.icon-social
